/* style-layout */
h3{text-align:center}
p{padding:0; margin:3px; text-align:center}
#user_id, #user_pw, #user_phone, #phone_pw{vertical-align:middle}
#login_box, #unregistered_login_box{display:inline-block; vertical-align:middle; margin:57px; padding:30px}
#user_login, #unregistered_login{margin:0; padding:0}
#search, #register{text-align:center}