/* style-size */
article{width:100%; height:100%}
div{width:450px; height:600px}
#book_button{width:100px; height:50px}
#trailer_button{width:150px; height:50px}
#control_bar{width:250px; height:400px}
